/*------------------------------------*\
  GENERIC > RESET
\*------------------------------------*/

/**
 * A very simple reset that sits on top of Normalize.css.

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
  padding: 0;
} */

/**
 * Remove trailing margins from nested lists.
 */
li > {
    ol,
    ul {
        margin-bottom: 0;
    }
}

/**
 * Remove default table spacing.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

legend {
    display: block;
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
}

pre {
    white-space: normal;
}

strong {
    font-weight: 700;
}

/**
 * Set image max width.
 */

img {
    max-width: 100%;
}

/**
 * Removes buttons from number input.
 */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='password'],
input[type='text'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='email'],
textarea {
    -webkit-appearance: none;
    border-radius: 0;
    font-family: $font-body;
    background: none !important;
}

input[type='number'] {
    -moz-appearance: textfield;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

/* clears the 'X' from IED */
input::-ms-clear {
    display: none !important;
}

@include mq($until: tablet) {
    select,
    input[type='text'],
    input[type='search'],
    input[type='tel'],
    input[type='email'],
    input[type='password'],
    input[type='number'],
    textarea {
        font-size: 16px !important;
    }

    input[type='text'],
    input[type='search'],
    input[type='tel'],
    input[type='email'],
    input[type='password'],
    input[type='number'] {
        line-height: 1em;
    }
}
