.cta {
    $cta: &;

    position: relative;
    text-align: center;
    padding: 48px 24px;
    max-width: $bp-maxwidth;
    margin: 0 auto;
    overflow: hidden;

    @include mq($from: tablet) {
        border-radius: $border-radius-large;
        padding: 48px 64px;
    }

    .o-container & {
        @include mq($until: tablet) {
            margin-left: -$gutter-width-mobile !important;
            margin-right: -$gutter-width-mobile !important;
        }
    }

    &::before {
        @include pseudo;
        @include absolute-fit-parent;
        background: $color-primary-dark;

        @include mq($from: tablet) {
            mask-image: url('/assets/static/images/svg/mask-cta-bg.svg');
            mask-size: cover;
        }
    }

    &::after {
        @include pseudo;
        @include absolute-fit-parent;
        background: url('/assets/static/images/graphics/bg-specks.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.3;
        z-index: 0;
    }

    &__content {
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: relative;
        z-index: 1;
    }

    &__title {
        color: $color-white;
    }

    &__text {
        @include font-body-regular($size: #{$font-size-large}, $lh: 1.5);
        @include interpolate('font-size', $bp-tablet, 16px, $bp-wide, 20px);
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 8px;

        @include mq($until: mobile-large) {
            flex-direction: column;
            width: 100%;

            a {
                width: 100%;
            }
        }
    }
}
