/*------------------------------------*\
  OBJECTS > GRID
\*------------------------------------*/

.row {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-left: -20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    @include mq($from: tablet) {
        margin-top: 50px;
    }

    &.-child-margin-t {
        margin-top: -20px;

        > * {
            margin-top: 20px;
        }
    }

    &.-large {
        margin-left: -52px;
        margin-top: -40px;

        @include mq($from: tablet) {
            margin-left: -52px;
            margin-top: -60px;
        }

        &.-child-margin-t {
            > * {
                margin-top: 40px;

                @include mq($from: tablet) {
                    margin-top: 60px;
                }
            }
        }

        > * {
            padding-left: 52px;
        }
    }

    > * {
        padding-left: 20px;
        width: 100%;
    }

    .col-2 {
        width: 50%;

        &\:md {
            @include mq($from: tablet) {
                width: 50%;
            }
        }

        &\:lg {
            @include mq($from: desktop) {
                width: 50%;
            }
        }
    }

    .col-3 {
        width: 33.3333%;

        &\:md {
            @include mq($from: tablet) {
                width: 33.3333%;
            }
        }

        &\:lg {
            @include mq($from: desktop) {
                width: 33.3333%;
            }
        }
    }

    .col-6 {
        width: 50%;

        &\:md {
            @include mq($from: tablet) {
                width: 50%;
            }
        }
    }

    .col-12 {
        width: 100%;
    }
}