/*/*------------------------------------*\
  UTILITIES > RHYTHM
\*------------------------------------*/

.u-rhythm-t-18 {
    > * {
        &:not(:first-child) {
            margin-top: 18px;
        }
    }
}

.u-rhythm-t-25 {
    > * {
        &:not(:first-child) {
            margin-top: 25px;
        }
    }
}

.u-rhythm-t-32 {
    > * {
        &:not(:first-child) {
            margin-top: 32px;
        }
    }
}

.u-rhythm-l-90 {
    > * {
        &:not(:first-child) {
            margin-left: 90px;
        }
    }
}
