/*------------------------------------*\
  TOOLS > LISTS MIXIN
\*------------------------------------*/

@mixin inline-list {
    @include reset-list;
}

@mixin custom-bullet {
    padding-left: 10px;
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        content: '\2022';
    }
}
