/*------------------------------------*\
  SETTINGS > MISCELLANEOUS
\*------------------------------------*/

$border-radius-default: 12px;
$border-radius-small: 8px;
$border-radius-large: 24px;
$border-radius-buttons: 4px;
